extends layout

block content
  section.articles
    each post in posts
      article.article
        a(href='#{post.link}')
          h1 #{post.title}
        h5 Posted by #{post.author} at #{post.datetime}
        != post.excerpt()
        a(href='#{post.link}').btn.btn-primary Read more
