.span12.hidden-phone.fb-like-box(style='text-align: center;',data-href="https://www.facebook.com/cookhub",
  data-width="870",
  data-height="370",
  data-show-faces="true",
  data-stream="false",
  data-header="true")
